@import 'variables';
@import 'App';
@import 'Code';
@import 'Sidebar';
@import 'Output';

* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}
.hover {
	cursor: pointer;
}
.flex-1 {
	flex: 1;
}
.ghost {
	opacity: .8;
	&:hover {
		opacity: 1;
	}
}
